.backdrop{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 99999998;
}
.modal{
  margin-top: 200px;
  padding: 1rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 10px;
  z-index: 99999999;
  p{
    font-size: 20px;
    margin: 5px;
  }
}
