.container-admin-back {
  position: fixed;
  left: 0;
  top: 0px;
  width: 100%;
  z-index: 1;


  .container-admin {
    width: 80%;
    border: 1px solid rgba(15, 20, 30, 0.77);
    border-radius: 5px;
    background: #f1f1f1;
    margin: 5px auto;
    padding: 5px;
    min-width: 800px;

    .del-btn {
      background: rgb(255, 195, 195);
    }

    .inputText {
      display: block;

      box-sizing: border-box;
      border: 1px solid rgba(15, 20, 30, 0.77);
      border-radius: 5px;
      background: #f1f1f1;
      color: rgba(15, 20, 30, 0.77);
      padding: 10px 10px;
      outline: none;
      font-family: inherit;
      user-focus: blue;
      margin-bottom: 10px;
    }

    .container-horizontal-group {
      display: flex;
    }

    .container-input-group {
      padding: 5px;
    }

    .container-checkbox-group {
      padding: 5px;
      display: flex;
    }
    .container-range-group{
      display: flex;
      width: 100%;
    }

    .setting-object {

      p {
        margin: 0;
      }
    }
  }
}
//======================================================================================================================
.btn-adm-set{
  margin: 10px;
  background: rgb(121, 121, 121);
}
.btn-horizontal-container{
  margin-right: 10px;
  background: rgba(15, 20, 30, 0.77);
}
.btn-del{
  background: #ff9090;
}

.input-field{
  height: 60px;

  .input-label{
  }
  .input-text{
  }
  .input-select{
    z-index: 999999999999999;
  }
}
.input-checkbox{
  margin: auto 10px;
}
.input-range{
  margin: auto 10px;
  width: 100%;
}
.tab{
  height: 200px;
}

.admin-setting-btn{
  position: fixed;
  right: 0px;
  top: 0px;
}

.container-admin{
  border: 1px solid rgba(22, 22, 22, 0.89);
  background: rgba(71, 136, 109, 0.47);
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}
