.backdrop{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgb(0,0,0,.3);
  z-index: 100000;
}
.modal{
 // width: 60%;
  top: 0px;
  left: 500px;
  width: 600px;
  padding: 1rem;
  background:  #ECDBBA;
  position: absolute;
  border-radius: 10px;
  border-top-left-radius: 0px;
  z-index: 100001;
}
